This dataset is downloaded from [Mapping China's Tech Giants](https://chinatechmap.aspi.org.au/#/homepage).

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [27]:
df = pd.read_csv("data.csv")

In [28]:
df_usa = df[df.country_id.str.contains("United States", na=False)]

In [29]:
df_filter = df_usa[['company_id','type_of_company_id_ref','label','infrastructure_type_id','Primary topic']]

In [30]:
df_filter.company_id = df_filter.company_id.str.split(pat="|",expand=True)[1]
df_filter.type_of_company_id_ref = df_filter.type_of_company_id_ref.str.split(pat="|",expand=True)[1]
df_filter.infrastructure_type_id = df_filter.infrastructure_type_id.str.split(pat="|",expand=True)[1]
df_filter['Primary topic'] = df_filter['Primary topic'].str.split(pat="|",expand=True)[1]

/Users/angeline_jcq/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/var/folders/9m/w7ffkstj051dnyjnyklwvwmr0000gn/T/ipykernel_82579/1061540503.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter['Primary topic'] = df_filter['Primary topic'].str.split(pat="|",expand=True)[1]

In [32]:
df_filter['Primary topic'].value_counts()

 Artificial Intelligence    97
 Biotech                    52
 Covid-19                   34
 Surveillance               22
 Cloud                      17
 ePayments                  13
 5G                          8
 Smart cities                2
 US Entity List              1
Name: Primary topic, dtype: int64

In [34]:
df_filter.head()

,company_id,type_of_company_id_ref,label,infrastructure_type_id,Primary topic
10,Huawei,Telecommunications,Keysight,R&D lab,5G
93,Huawei,Telecommunications,UC Berkeley,Research partnership,NaN
94,Huawei,Telecommunications,UCLA,Research partnership,NaN
95,Huawei,Telecommunications,University of Illinois at Urbana-Champaign,Research partnership,NaN
96,Huawei,Telecommunications,Massachusetts Institute of Technology,Research partnership,NaN

In [35]:
df_filter.sort_values(by=['company_id','infrastructure_type_id'], ascending=True)

,company_id,type_of_company_id_ref,label,infrastructure_type_id,Primary topic
2665,Alibaba,NaN,Bravado partnership,Commercial partnership,NaN
2689,Alibaba,NaN,Aryaka partnership,Commercial partnership,Cloud
2702,Alibaba,NaN,Beyond Meat partnership,Commercial partnership,NaN
2717,Alibaba,NaN,Equinix deal,Commercial partnership,Cloud
2723,Alibaba,NaN,Ascenda partnership,Commercial partnership,NaN
...,...,...,...,...,...
2611,iFlytek,NaN,U.S. Department of Commerce export license to ...,Health,Covid-19
4042,iFlytek,NaN,Chartwell Strategy Group,PR or lobbying,NaN
2007,iFlytek,Artificial Intelligence,Rutgers University,R&D lab,Artificial Intelligence
1998,iFlytek,Artificial Intelligence,Georgia Institute of Technology,Research partnership,Artificial Intelligence
2009,iFlytek,Artificial Intelligence,Massachusetts Institute of Technology,Research partnership,Artificial Intelligence

In [37]:
df_filter.company_id.value_counts().head()

 Huawei               67
 DJI                  58
 Baidu                52
 WuXi AppTec Group    47
 China Telecom        45
Name: company_id, dtype: int64

In [46]:
top_five = [" Huawei", " DJI"," Baidu"," WuXi AppTec Group"," China Telecom"]
df_five = df_filter[df_filter.company_id.isin(top_five)].sort_values(by=['company_id','infrastructure_type_id'], ascending=True)
df_five.to_csv("data_filter_five.csv",index=False)

In [65]:
df_five[df_five.company_id == ' Baidu'].label.value_counts()

Baidu Lab                        2
Intel                            1
Coral Genomics                   1
Snark                            1
Sherlock                         1
Zensors                          1
Veo Robotics, Inc.               1
Simple Machines, Inc.            1
Kebotix                          1
DeepBiome Therapeutics           1
Near Protocol                    1
Correlia Biosystems              1
Cornami                          1
TrustGo acquisition              1
Avail                            1
BlackRock Inc.                   1
Renaissance Technologies Corp    1
Integrity Partners Inc.          1
Peninsula Capital                1
Sidley Austin LLP                1
Comet Labs                       1
xPerception                      1
Baidu Venture office             1
US subsidiary                    1
AutomationHero                   1
Jeeva Wireless                   1
Ford                             1
Atomwise                         1
Qualcomm Technologies, Inc.      1
Effie Awards                     1
Ford partnership                 1
Nvidia partnership               1
Intel partnership                1
Microsoft partnership            1
Sectigo partnership              1
Snap Inc partnership             1
Tesla partnership                1
Amazon collaboration             1
Engine Biosciences               1
Lunewave                         1
Baidu Ventures                   1
Velodyne Lidar                   1
Uber                             1
Lightelligence Inc               1
Strateos                         1
Quantapore                       1
Probius Dx                       1
Rain Neuromorphics               1
CubeWorks                        1
RootPath Genomics                1
Partnership on AI                1
Name: label, dtype: int64

In [57]:
df_five[(df_five.company_id == ' Huawei') & (df_five.label == 'Princeton University')]

,company_id,type_of_company_id_ref,label,infrastructure_type_id,Primary topic
97,Huawei,Telecommunications,Princeton University,Donation,NaN
461,Huawei,Telecommunications,Princeton University,Research partnership,NaN

In [62]:
df_five[df_five.company_id == ' WuXi AppTec Group'].infrastructure_type_id.value_counts()

 Health                         12
 Investment or joint venture    12
 Subsidiary                      9
 Overseas Office                 7
 Investor                        2
 Manufacturing facility          2
 R&D lab                         2
 Research partnership            1
Name: infrastructure_type_id, dtype: int64

In [66]:
df_filter.infrastructure_type_id.value_counts()

 Commercial partnership                158
 Investment or joint venture            86
 Overseas Office                        57
 Research partnership                   53
 Data centre                            49
 PR or lobbying                         37
 Health                                 33
 R&D lab                                26
 Subsidiary                             25
 Investor                               16
 Surveillance equipment                 14
 Donation                               13
 Telecommunications or ICT               8
 MoU-agreement                           4
 Manufacturing facility                  2
 Security inspection equipment           2
 Facial recognition                      1
 Smart City-Public Security project      1
 Training                                1
Name: infrastructure_type_id, dtype: int64

In [68]:
df_five.shape

(269, 5)

In [33]:
df_filter.to_csv("data_filter.csv",index=False)